.song {
    font-family: 'Inconsolata', 'Space Mono',  monospace;
    font-size: 1rem;
}
.chord {
    color: tomato;
    font-weight: bold;

    /* https://blog.logrocket.com/creating-beautiful-tooltips-with-only-css/ */
    position: relative;
    border-bottom: 1px dashed tomato;
}

.chord:before {
    content: attr(data-finger-positioning);
    position: absolute;

    /* vertically center */
  top:0%;
  right:0%;
  transform:translateY(-100%);
  /* transform:translateX(-50%); */
  
    /* Add above other elements */
    z-index: 10;

  /* move to top */
  /* top:100%; */
  margin-top:15px; /* and add a small left margin */
  
  /* basic styles */
  width:150px;
  padding:10px;
  border-radius:20px;
  background:tomato;
  color: #fff;
  text-align:center;
  font-size: 0.8rem;

  opacity:0; /* hide by default */
  transition: .3s opacity;
}

.chord:hover:before {
    opacity: 0.9;
}